<article>
    <header>
        <h3 class="article-header-category">[{% for category in page.taxonomies.categories %}
            <a href="{{ get_taxonomy_url(kind='categories', name=category) }}">{{ category }}</a>{% if not loop.last %},
            {% endif %}
        {% endfor %}]</h3>
        <a href="{{ page.permalink }}"><h1>
            {{ page.title }}
        </h1></a>
        <time datetime="{{ page.date }}">{{ page.date }}</time>
    </header>

    <p>
        {{ page.content | safe }}
    </p>

    <div class="article-tags">
        Tags:
        {% for tag_raw in page.taxonomies.tags %}
            {% set tag = get_taxonomy(kind='tags', name=tag_raw) %}
            {% set url = get_taxonomy_url(kind='tags', name=tag_raw) %}
            <a href="{{ url }}">{{ tag_raw }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    <div>
        Written by {% for author in page.taxonomies.authors %}
        {% set url = get_taxonomy_url(kind='authors', name=author) %}
        <a href="{{ url }}">{{ author }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    </div>
</article>