<div class="column-div links">
    <h4>Links</h4>
    <ul>
        <li><a href="https://r-a-b-m.blogspot.com/">Red and Anarchist Black Metal</a> : [EN] Mostly antifascist,
            anticapitalist or anarchist metal. The blog is inactive, as it has been replaced by a Reddit community, but
            there is still a ton of interesting stuff on it.
        </li>
        <li><a href="http://www.finstergeist.net/">The Industrial Twilight</a> : [EN] Blog about various kind of music :
            noise, metal, dark stuff...
        </li>
        <li><a href="https://blogs.radiocanut.org/noisepollution/">Noise Pollution</a> : [FR] A weekly radio emission
            about metal, including some local groups from Lyon.
        </li>
        <li>
            <a href="https://xisuma.blogspot.com/">Xisuma's Music Journey</a> : [EN] Musical blog of Xisuma, a music lover, who listens to a lot of metal, but also other genres.
        </li>
    </ul>
</div>
