{% extends "base.html" %}

{% block content %}
{#<h3>Taxonomy Name: {{'tags'}}</h3>
{% set category = get_taxonomy(kind="tags") %}

{% for name, items in category %}
    {% set length = items | length %}

    {% if length > 0 %}

        Total {{ name }}: {{length}}
      <br>
        {% if name == 'items' %}
          {% for item in items %}
            {{item.name}},
            {% set url = get_taxonomy_url(kind='tags', name=item.name) %}
            {{url}} <br>
          {% endfor %}
        {% endif %}

    {% else %}

      First Item: {{items.name}}

    {% endif %}
{%  endfor %}#}

{% endblock content %}


{# Keep as an example of how to drill down through taxonomy levels
{% for tax in config.taxonomies %}
  Taxonomy Name: {{tax.name}} <br>
  {% set categories = get_taxonomy(kind=tax.name) %}
  {% for name, items in categories %}
    {% set length = items | length %}
    {% if length > 0 %}
      Total items: {{length}}
      <br>
      {% for item in items %}
        {{item.name}},
        {% set url = get_taxonomy_url(kind=tax.name, name=item.name) %}
        {{url}} <br>
      {% endfor %}
    {% else %}
      First Item: {{items.name}}
    {% endif %}
  {% endfor %}
{% endfor %}
#}